@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2e7d2;
}

.titulo-home {
  font-family: "Arima", cursive;
}

.enlace-titulo {
  text-decoration: none;
  color: white;
  margin-left: 12px;
  text-align: center;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-grow: 5;
}

nav ul li {
  font-size: 20px;
  text-align: center;
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.item-active {
  text-decoration: underline double;
}

header {
  background-color: #f79eb1;
  position: sticky;
  top: 10px;
  z-index: 3;
}

.imagen-inicio {
  margin-top: 30px;
  padding-left: 15px;
}

footer {
  background-color: #ae8fba;
  padding: 10px;
  text-align: center;
  color: rgb(240, 195, 195);
}

/*.banner {
  background-image: url(../images/cielovioleta.jpg);
  background-size: cover;
  padding-top: 70px;
  min-height: 100px;
}

.texto-banner {
  text-align: center;
  color: white;
  font-size: 45px;
}*/

.wspp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
}

.notaseventos {
  padding: 25px;
}

/*inicio*/

.inicio-caja-uno {
  width: 100%;
  height: 400px;

  margin: 20px;
  padding: 20px;
  background-position: center;

  background-image: url("../images/amigas\ sonrisa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  border-radius: 10px;
}

.inicio-caja-uno p {
  text-align: center;
  font-size: 80px;
  text-decoration: solid;
  width: 100%;
  margin-top: 120px;
  color: rgba(255, 255, 255, 0.936);
}

.inicio-grillauno {
  width: 100%;
  height: 300%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nota1 nota2 nota3"
    "nota4 nota5 nota6";
  column-gap: 30px;
}

#nota1 {
  grid-area: nota1;
}

#nota2 {
  grid-area: nota2;
}

#nota3 {
  grid-area: nota3;
}

#nota4 {
  grid-area: nota4;
}

#nota5 {
  grid-area: nota5;
}

#nota6 {
  grid-area: nota6;
}

.inicio-grillados {
  width: 100%;
  height: 300%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "titulouno titulouno titulouno"
    "nota7     nota8     nota9"
    "titulodos titulodos titulodos"
    "nota10    nota11    nota12";
  column-gap: 30px;
}

#titulouno {
  grid-area: titulouno;
}

#nota7 {
  grid-area: nota7;
}

#nota8 {
  grid-area: nota8;
}

#nota9 {
  grid-area: nota9;
}

#titulodos {
  grid-area: titulodos;
}

#nota10 {
  grid-area: nota10;
}

#nota11 {
  grid-area: nota11;
}

#nota12 {
  grid-area: nota12;
}

.inicio-notauno-imagen {
  width: 100%;
}

.inicio-notauno-titulo {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.inicio-imagenuno {
  background-position: center;
  width: 20%;
  height: 20%;
  margin-top: 25px;
  margin-left: 90px;
  padding: 30px;
}

.inicio-notas {
  width: 100%;
  background-color: rgb(223, 179, 189);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 1.5%;
  margin-block: 20px;
  overflow: auto;
  position: relative;
}

.inicio-notas-imagen {
  width: 100%;
}

.inicio-notas-titulo {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.inicio-caja-dos {
  width: 100%;
  height: 500px;
  margin: 20px;
  padding: 20px;
  background-position: center;
  background-image: url("../images/sonrienteotoño.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  border-radius: 10px;
}

.inicio-caja-dos p {
  text-align: center;
  font-size: 80px;
  text-decoration: solid;
  width: 100%;
  margin-top: 120px;
  color: rgba(255, 255, 255, 0.936);
}

.inicio-titulonotauno,
.inicio-titulonotasdos,
.inicio-titulonotastres {
  text-align: center;
  font-size: 60px;
  width: 100%;
  margin: 20px;
  color: rgb(238, 178, 218);
  font-family: "Arima", cursive;
}

.inicio-productos {
  width: 100%;
  background-color: rgb(223, 179, 189);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 1.5%;
  margin-block: 20px;
  overflow: auto;
  position: relative;
}

.inicio-productos-imagen {
  width: 100%;
}

.inicio-productos-titulo {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/*actualidad */

.actualidad {
  padding: 20px;
  margin: 20px;
  width: 100%;
}

.actualidad-titulo {
  text-align: center;
  font-size: 35px;
}

/* grids */

.actualidad-grillauno {
  width: 100%;
  height: 300%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "caja1 caja2 caja3 caja4";
  column-gap: 30px;
}

#caja1 {
  grid-area: caja1;
}

#caja2 {
  grid-area: caja2;
}

#caja3 {
  grid-area: caja3;
}

#caja4 {
  grid-area: caja4;
}

.actualidad-grillados {
  width: 100%;
  height: 300%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "caja5 caja6 caja7 .";
  column-gap: 30px;
}

#caja5 {
  grid-area: caja5;
}

#caja6 {
  grid-area: caja6;
}

#caja7 {
  grid-area: caja7;
}

.actualidad-grillatres {
  width: 100%;
  height: 300%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "caja8 caja9 caja10 .";
  column-gap: 30px;
}

#caja8 {
  grid-area: caja8;
}

#caja9 {
  grid-area: caja9;
}

#caja10 {
  grid-area: caja10;
}

.actualidad-otrassecciones {
  position: fixed;
}

.actualidad-otrasseccionesnotas {
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 25px;
  padding: 10px;
  line-height: 1.6;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.actualidad-novedades,
.actualidad-yoga,
.actualidad-meditacion {
  text-align: center;
  font-size: 45px;
  color: #f79eb1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Arima", cursive;
}

.actualidad-nota {
  width: 100%;
  background-color: rgb(223, 179, 189);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  overflow: auto;
  position: relative;
}

.actualidad-nota-imagen {
  width: 100%;
}

.actualidad-nota-titulo {
  font-size: 20px;
}

.actualidad-nota-texto {
  font-size: 16px;
}

.actualidad-nota-imagen,
.actualidad-nota-titulo,
.actualidad-nota-texto {
  margin-bottom: 10px;
}

/* entrevistas */

.entrevistas {
  padding: 20px;
  margin: 20px;
  width: 100%;
}

.entrevistas-titulo {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  padding: 10px;
}

.entrevistas-video-titulo {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.entrevistas-video {
  width: 45%;
  background-color: rgb(223, 179, 189);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 1.5%;
  margin-block: 20px;
  overflow: auto;
  position: relative;
}

.entrevistas-nota {
  width: 45%;
  background-color: rgb(223, 179, 189);
  display: inline-block;
  border-radius: 10px;
  margin-inline: 1.5%;
  margin-block: 20px;
  padding: 10px;

  overflow: auto;
  position: relative;
}

.entrevista-nota-imagen {
  width: 100%;
  block-size: auto;
}

.entrevista-nota-titulo {
  font-size: 20px;
  text-align: center;
}

.entrevista-nota-texto {
  font-size: 20px;
  text-align: justify;
}

.entrevista-nota-imagen,
.entrevista-nota-titulo,
.entrevista-nota-texto {
  margin-bottom: 10px;
}

/* notaseventos */

.notauno {
  width: 33%;
  background-color: rgb(223, 179, 189);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 1.5%;
  margin-block: 20px;
  overflow: auto;
  position: relative;
}

.notauno-imagen {
  width: 100%;
}

.notauno-titulo {
  font-size: 20px;
  text-align: center;
}

.notauno-texto {
  font-size: 16px;
  text-align: justify;
}

.notauno-imagen,
.notauno-titulo,
.notauno-texto {
  margin-bottom: 10px;
}

.wspp-eventos {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.eventos-titulocalendario {
  text-align: center;
  font-size: 30px;
  background-color: rgb(223, 179, 189);
  margin: 20px;
  padding: 20px;
}

.eventos-titulos {
  text-align: center;
  font-size: 60px;
  width: 100%;
  margin: 20px;
  color: rgb(238, 178, 218);
}

.eventos-otrassecciones {
  margin-top: 50px;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
  padding: 50px;
  text-decoration: solid;
  line-height: 1.6;
}

/* contacto */

.contacto {
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.contacto-imagen {
  width: 20%;
  height: 50%;
  margin-top: 30px;
  align-self: start;
}

.contacto-form {
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: center;
}

.contacto-form-nombre,
.contacto-form-email,
.contacto-form-comentario {
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}

.contacto-fomr-estadocivil {
  padding: 10px;
}

.contacto-form-titulonews {
  padding: 10px;
  font-size: 20px;
}

.contacto-form-privacidad {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }

  nav ul {
    flex-wrap: wrap;
  }

  .inicio-caja-uno {
    max-width: 100%;
    height: 55%;
    background-attachment: inherit;

    margin-left: auto;
  }

  .inicio-caja-uno p {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    font-size: xxx-large;
  }

  .inicio-titulonotauno h2 {
    font-size: 50px;
  }

  .inicio-caja-dos {
    max-width: -moz-available;
    height: 20%;
    background-attachment: inherit;
  }

  .inicio-caja-dos p {
    font-size: xx-large;
    width: 100%;
    margin-top: 0px;
  }

  .inicio-grillauno {
    max-width: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nota1 nota2"
      "nota3 nota4"
      "nota5 nota6";
    margin-left: 100px;
  }

  .inicio-grillados {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "titulouno"
      "nota7"
      "nota8"
      "nota9"
      "titulodos"
      "nota10"
      "nota11"
      "nota12";
    width: min-content;
  }

  /*actualidad*/

  .actualidad-grillauno {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "caja1 caja2"
      "caja3 caja4";
    column-gap: 30px;
  }

  .actualidad-otrassecciones {
    position: relative;
  }

  /*entrevistas*/
}

/*media querie mobil*/

@media screen and (max-width: 480px) {
  header {
    position: relative;
  }

  nav ul {
    flex-wrap: wrap;
  }

  .inicio-caja-uno {
    max-width: 100%;
    height: 20%;
    background-attachment: inherit;
    margin-left: auto;
  }

  .inicio-caja-uno p {
    font-size: 20px;
    width: 55%;
    margin-top: 0px;
  }

  .inicio-titulonotauno h2 {
    font-size: 50px;
  }

  .inicio-caja-dos {
    max-width: 100%;
    height: 20%;
    background-attachment: inherit;
    margin-left: auto;
  }

  .inicio-caja-dos p {
    font-size: 20px;
    width: 55%;
    margin-top: 0px;
  }

  .inicio-grillauno {
    max-width: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "nota1"
      "nota2"
      "nota3"
      "nota4"
      "nota5"
      "nota6";
  }

  .inicio-grillados {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "titulouno"
      "nota7"
      "nota8"
      "nota9"
      "titulodos"
      "nota10"
      "nota11"
      "nota12";
    display: initial;
  }

  #titulouno {
    margin-left: auto;
  }

  #titulodos {
    margin-left: auto;
  }

  /*actualidad media querie */

  .actualidad-grillauno {
    max-width: 200%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "caja1"
      "caja2"
      "caja3"
      "caja4";
    margin: 10px;
  }

  .actualidad-otrassecciones {
    position: relative;
    margin: 10px;
  }

  .actualidad-grillados {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "caja5"
      "caja6"
      "caja7";
    margin: 10px;
  }

  .actualidad-grillatres {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "caja8"
      "caja9"
      "caja10";
    margin: 10px;
  }

  .actualidad-titulo {
    max-width: 200%;
  }

  .actualidad-novedades,
  .actualidad-yoga,
  .actualidad-meditacion {
    max-width: 200%;
    margin: 10px;
  }

  footer {
    max-width: 200%;
  }
}
