@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");

@import "./variables";
@import "./mixin";
@import "./body";
@import "./inicio";

* {
  @include reset;
}

.titulos {
  color: #c22557;
  font-family: "Arima", cursive;
}

.redes-container {
  @include estiloderedescontainer;
}

.redes-container ul li {
  @include redescontainerulli;
}

.redes-container ul li a {
  @include redescontainerenlace;
}
.cita {
  color: $colordecitas;
}

.textocarrusel {
  background-color: $colortextocarrusel;
}
